default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: rails_advertising_bot_development
  password: yourpass

test:
  <<: *default
  database: rails_advertising_bot_test
  password: yourpass
